.example-spacer {
    flex: 1 1 auto;
  }

  .fondo {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background: url("https://fondationforge.org/assets/img/programa/slider-desarrolla/slide-desarrolla-3.jpg") 50% fixed;
    background-size: cover;
    color: rgb(15, 132, 235);
  }