.example-spacer {
    flex: 1 1 auto;
  }

  .fondo {
    font-family: monospace;
    height: 100%;
    background-size: cover;
    color: rgb(0, 0, 0);
    background-color: #ffe7b3;
  }

  .barra{
      background-color: #000000;
  }
    
 .boton{
     background-color: #cf7500;
 } 
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 50px;
    top: 540px;
}

.textoborde {
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.parrafo{
    -webkit-text-stroke: 2px  rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.borde{
    border: rgb(0, 0, 0) 2px solid;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    }
    .bg-custom{
    background-image: linear-gradient(#ffc954, #f1a839);
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    }
    .bg-bottom{
    background-color: #e68200;
    }
    .pt-30{
    padding-top: 30px;
    }
    ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
    h3,p,a{
    color: rgb(0, 0, 0);
    }
    h2{
    font-weight:700;
    font-size:30px;
    letter-spacing: 2px;
    }
    h3{
    font-weight:700;
    font-size: 26px;
    letter-spacing: 2px;
    }
    li{
    padding-top: 10px;
    }
    a{
    text-decoration: none;
    }
    a:hover{
    text-decoration: none;
    color:rgb(0, 0, 0);
    }
    .fa{
    font-size: 40px;
    padding-right: 15px;
    }
    .download{
    text-align: center; 
    padding-top: 20px;
    }.download .fa{
    padding-right: 25px;
    font-size: 50px;
    }
    @media(max-width: 992px){
    h3{
    font-size: 18px;
    }
    .p-5 {
    padding: 2rem!important;
    }
    }
    @media(max-width: 830px){
    .pt-60{
    padding-top: 60px;
    }
    .col-md-3{
    padding-right:8px;
    padding-left: 8px;
    }
    h3 {
    font-size: 16px;
    }
    }
    @media(max-width: 768px){
    .col-md-3{
    text-align:center;
    }
    h3{
    font-size: 40px;
    }
    .pt-60{
    padding-top: 30px;
    }
    }
    @media(max-width: 475px){
    h3{
    font-size: 30px;
    padding-top: 30px;
    }
    .mobile-none{
    display:none;
    }
    }