.example-spacer {
    flex: 1 1 auto;
  }

  .fondo {
    font-family: monospace;
    height: 100%;
    background-size: cover;
    color: rgb(0, 0, 0);
    background-color: #ffe7b3;
  }

  .barra{
      background-color: #f0a500;
  }
    
 .boton{
     background-color: #cf7500;
 } 
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textoborde {
    -webkit-text-stroke: 3px black;
    color: rgb(255, 166, 0);
    font-size: 60px;
  }

.parrafo{
    -webkit-text-stroke: 1px  rgb(92, 60, 0);
    color: rgb(255, 166, 0);
    font-size: 30px;
}

.borde{
    border: rgb(0, 0, 0) 1px solid;
}