button{
  width: 40%;
  border-bottom-style: solid;
}

.fondo {
  background-color: #ffdf9a;
  height: 100%;
}

.titulo{
  text-decoration-color: #ff7171;
}

mat-form-field {
  width: 80%;
}

mat-header-cell{
  background-color: rgb(240, 231, 231);
}


.cajita{
  border-radius: 82px 82px 82px 82px;
  border: rgb(204, 176, 117) 3px solid;
 
}

.cajita2{
  border: rgb(204, 176, 117) 3px solid;
  border-radius: 10px 10px 10px 10px;
}

  