button{
  width: 40%;
  border-bottom-style: solid;
}

.fondo {
  background-color: #ffdf9a;
  height: 100%;
}

.titulo{
  text-decoration-color: #ff7171;
}

mat-form-field {
  width: 80%;
}

mat-header-cell{
  background-color: rgb(240, 231, 231);
}


.cajita{
  border-radius: 82px 82px 82px 82px;
  border: rgb(204, 176, 117) 3px solid;
 
}

.cajita2{
  border: rgb(204, 176, 117) 3px solid;
  border-radius: 10px 10px 10px 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

ng-sidebar-container{
  height: 100vh;
}



::ng-deep .ng-sidebar{
  background-color: #f0a500;
  width: 300px;
  padding: 2em 3em;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.menu{
  margin-top: 2em;
  display: block;
}

.menu li{
  margin-bottom: 15px;
}

.menu li a{
  display: block;
  width: 100%;

}

  