.example-spacer {
  flex: 1 1 auto;
}

ng-sidebar-container{
  height: 100vh;
}



::ng-deep .ng-sidebar{
  background-color: #f0a500;
  width: 300px;
  padding: 2em 3em;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.menu{
  margin-top: 2em;
  display: block;
}

.menu li{
  margin-bottom: 15px;
}

.menu li a{
  display: block;
  width: 100%;

}

mat-form-field{
    width: 100%;
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 1em;
  }
