<mat-toolbar color="primary"> 
    <span routerLink="" style="cursor: pointer;"></span>
    <span class="example-spacer"></span>
      <a mat-flat-button color="primary" style="margin-left: 1em;" routerLink="adduser">
        Agregar colaborador
      </a>
      <a mat-flat-button color="primary" style="margin-left: 1em;" routerLink="createproject">
        Nuevo proyecto
      </a>
      <a mat-flat-button color="primary" style="margin-left: 1em;" routerLink="viewprojectsadmin">
        Lista de proyectos
      </a>
      <a mat-flat-button color="primary" style="margin-left: 1em;" routerLink="login">
        Login
      </a>
    </mat-toolbar>
<router-outlet></router-outlet>
