<ng-sidebar-container>
    <!--Sidebar  -->
    <ng-sidebar [opened]="opened">
        <img src="https://scontent.fscl9-2.fna.fbcdn.net/v/t1.0-9/12644943_219927595018951_5026710537365350049_n.png?_nc_cat=105&_nc_sid=09cbfe&_nc_ohc=PzaIzx-TE5QAX_g4TFg&_nc_ht=scontent.fscl9-2.fna&oh=da8d7a4429a16209c97169f7feb2990a&oe=5F73289F" width="200" height="200" class="img-fluid rounded-circle" >
        <p style="padding-left: 1.5em; margin-top: 1em;">Sesión Colaborador</p>
        <a mat-raised-button style="margin: 2em; background-color: #000000; color: #f4f4f4;" (click)='toggleSidebar()'>Cerrar menú </a>
        <ul class="menu">
            <li><a style="color: #000000;" routerLink="/homecolab" (click)="toggleSidebar()">Inicio</a></li>
            <li><a style="color: #000000;" routerLink="/profilecolab" (click)="toggleSidebar()">Perfil Colaborador</a></li>
            <li><a style="color: #000000;" routerLink="/viewprojectscolab" (click)="toggleSidebar()">Proyectos Asignados</a></li>
        </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
    <!--Page Header  -->
    <mat-toolbar style="background-color: #000000; ">
        <a mat-raised-button style="background-color: #cf7500; color: #f4f4f4;" (click)="toggleSidebar()">Abrir menú </a>
        <span class="example-spacer"></span>
        <a mat-raised-button style="margin-left: 1em;" routerLink="" (click)="cerrarsesion()">Cerrar Sesión</a>
    </mat-toolbar>
    <!--Page Body  -->  
    

-->  
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Proyectos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <style type="text/css">
 	@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');

 </style>
</head>
<body>


	<div class="contenedor" *ngFor="let proyecto of proyectos">
		<div *ngIf="proyectos!=null" >
			<mat-card class="tarjeta">
				<mat-card-header>	
					<mat-card-title>
						<p> Nombre:{{proyecto.nombreproyecto}}</p>
					</mat-card-title>
				</mat-card-header>
						
				<mat-card-content>
						 
					<p> Descripción {{proyecto.descripcion}}</p>
					<p>Fecha de inicio:{{proyecto.fechainicio}}</p>
					<p>Fecha de final:{{proyecto.fechafinal}}</p>	
				</mat-card-content> 
			</mat-card>
		</div>
	  </div>
</body>
</html>


</div>
</ng-sidebar-container>