.example-spacer {
  flex: 1 1 auto;
}

ng-sidebar-container{
  height: 100vh;
}



::ng-deep .ng-sidebar{
  background-color: #f0a500;
  width: 300px;
  padding: 2em 3em;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.menu{
  margin-top: 2em;
  display: block;
}

.menu li{
  margin-bottom: 15px;
}

.menu li a{
  display: block;
  width: 100%;

}

.barra{
  background-color: #f0a500 ;
}

.carousel{
  margin-top: 0;
}
.carousel-item{
  background-color:  #f7ba37;
  height: 300px;
}
.carousel-caption{
  bottom: 12%;
}
.carousel-indicators li{
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.texto{
  color: black;
}

.centrado{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 500px;
  top: 320px;
}