
  
  button{
    width: 80%;
    border-bottom-style: solid;
  }
  
  .fondo {
    background-color: #ffdf9a;
    height: 100%;
  }
  
  .titulo{
    text-decoration-color: #ff7171;
  }
  
  mat-form-field {
    width: 80%;
  }
  
  .cajita{
    border-radius: 82px 82px 82px 82px;
    border: rgb(204, 176, 117) 3px solid;
   
  }
