<div class="container">
  <h1 class="text-black text-center pb-2 mt-4">Agregar Colaborador</h1>
  <div style="width: 90%; margin: 1em auto" class="mat-elevation-z2 cajita2">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="filterPost"
            placeholder="Buscar Colaboradores por nombre, habilidades o cargo"
            [(ngModel)]="filterPost"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>NOMBRE</th>
              <th>APELLIDO</th>
              <th>CORREO</th>
              <th>CARGO</th>
              <th>HABILIDADES</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let usuarioHabilidad of usuarioHabilidad | filter: filterPost
              "
            >
              <td>{{ usuarioHabilidad.nombre }}</td>
              <td>{{ usuarioHabilidad.apellido }}</td>
              <td>{{ usuarioHabilidad.correo }}</td>
              <td>{{ usuarioHabilidad.cargo }}</td>
              <td>{{ usuarioHabilidad.habilidad }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button
    class="btn btn-warning d-block mx-auto mt-4"
    style="border-bottom-style: solid; width: 30%"
    routerLink="/viewprojectsadmin"
  >
    Agregar Usuario
  </button>
  <button
    class="btn btn-warning d-block mx-auto mt-4"
    style="border-bottom-style: solid; width: 30%"
    routerLink="/viewprojectsadmin"
  >
    Finalizar
  </button>
</div>
