mat-form-field{
    width: 80%;
}
.cajita{
    background-color: #ffffff;
    border-radius: 20px;
  
  }
  
  button{
    width: 40%;
  }
  
  .fondo {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
  
    background-size: cover;
  }
  
  .titulo{
    text-decoration-color: #ff7171;
  }

  