<ng-sidebar-container>
  <!--Sidebar  -->
  <ng-sidebar [opened]="opened">
      <img src="https://scontent.fscl9-2.fna.fbcdn.net/v/t1.0-9/12644943_219927595018951_5026710537365350049_n.png?_nc_cat=105&_nc_sid=09cbfe&_nc_ohc=PzaIzx-TE5QAX_g4TFg&_nc_ht=scontent.fscl9-2.fna&oh=da8d7a4429a16209c97169f7feb2990a&oe=5F73289F" width="200" height="200" class="img-fluid rounded-circle" >
      <p style="padding-left: 1.2em; margin-top: 1em;">Sesión Administrador</p>
      <a mat-raised-button style="margin: 2em; background-color: #000000; color: #f4f4f4;" (click)='toggleSidebar()'>Cerrar menú </a>
      <ul class="menu">
          <li><a style="color: #000000;" routerLink="/homeadmin" (click)="toggleSidebar()">Inicio</a></li>
          <li><a style="color: #000000;" routerLink="/viewprojectsadmin" (click)="toggleSidebar()">Ver Proyectos</a></li>
          <li><a style="color: #000000;" routerLink="/createproject" (click)="toggleSidebar()">Crear Proyectos</a></li>
          <li><a style="color: #000000;" routerLink="/addusser" (click)="toggleSidebar()">Ver y Agregar Colaboradores</a></li>
      </ul>
  </ng-sidebar>
  <!--Page Header  -->
  <div ng-sidebar-content>
      <mat-toolbar style="background-color: #000000; ">
          <a mat-raised-button style="background-color: #cf7500; color: #f4f4f4;"  (click)="toggleSidebar()">Abrir menú </a>
          <span class="example-spacer"></span>
          <a mat-raised-button style="margin-left: 1em;" routerLink="">Cerrar Sesión</a>
      </mat-toolbar>        
      <div class="container">
        <div class="card text-center mat-elevation-z4 mt-5 cajita">
          <div class="card-header p-4"><h3>Crear Proyecto</h3></div>
          <div class="card-body">
            <img src="https://upsocial.org/sites/default/files/logos/forge.jpg" width="150" alt="">
              <div class="mt-5">
                <div class="mt-5">
                  <form class="text-center" style="padding: 1em;">
                  <br>
                    <mat-form-field appearance="outline">
                      <mat-label>Nombre del proyecto</mat-label>
                      <input matInput required placeholder="Nombre completo">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Descripción del Proyecto</mat-label>
                      <textarea matInput required placeholder="Escriba una descripción detallada del proyecto"></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Fecha de Inicio</mat-label>
                      <input matInput [matDatepicker]="picker1" required>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                      <mat-label>Fecha de Término</mat-label>
                      <input matInput [matDatepicker]="picker2" required>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="example-chip-list" >
                      <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                 [removable]="removable" (removed)="remove(fruit)">
                          {{fruit.name}}
                          <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
                        </mat-chip>
                        <input placeholder="Habilidades Requeridas"
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                    </mat-form-field>
                    <mat-form-field class="example-chip-list" >
                      <mat-chip-list #chipList2 aria-label="Fruit2 selection">
                        <mat-chip *ngFor="let fruit2 of fruits2" [selectable]="selectable2"
                                 [removable]="removable2" (removed)="remove2(fruit2)">
                          {{fruit2.name2}}
                          <mat-icon matChipRemove *ngIf="removable2">x</mat-icon>
                        </mat-chip>
                        <input placeholder="Colaboradores"
                               [matChipInputFor]="chipList2"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes2"
                               [matChipInputAddOnBlur]="addOnBlur2"
                               (matChipInputTokenEnd)="add2($event)">
                      </mat-chip-list>
                    </mat-form-field>
                    <button class="btn btn-warning">Crear</button>
                    <button type="reset" class="btn btn-danger">Cancelar</button>
                 <p  class="text-danger mt-2"> {{mensaje}}</p>
                  </form>
                </div>
          </div>
          <div class="card-footer text-muted">
            Mesa de Ayuda 22700345 
            <h5 class="card-title text-muted mt-2">Addyer x Forge</h5>
          </div>
        </div>
      </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </ng-sidebar-container>



