<div class="container">
    <div class="card text-center mat-elevation-z4 mt-5 cajita " >
        <div class="card-header p-4">
          <h3 class="text-black text-center pb-2">Agregar Habilidades</h3>
        </div>
        <div class="card-body">
          <img src="https://upsocial.org/sites/default/files/logos/forge.jpg" width="150" alt="" class="img-fluid rounded-circle">
          
          
            <div class="mt-2" >
    <form class=" text-center" style="padding: 1em;">
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Habilidades</mat-label>
      
                    <select class="form-control" style="width: 100%"  name="miselect" [(ngModel)]="seleccionado" required>
        <option [value]="habilidades" *ngFor="let habilidades of habilidades">{{habilidades}}</option>
        </select>
    
          </mat-form-field>
          <button class="btn btn" style="background-color: #cf7500; color: #f4f4f4;"  (click)="mostrar()">Agregar Habilidad</button>
          <div style="width: 100%" class="alert alert-success" role="alert">
            <p>{{mensaje}}</p> </div>
          
        <br>
        <hr>
        <button class="btn btn-warning"  routerLink="/addcolabprojects">Siguiente</button>
      </form>
    </div>
        </div>
        <div class="card-footer text-muted">
          Mesa de Ayuda 22700345 
          <h5 class="card-title text-muted mt-2">Addyer x Forge</h5>
        </div>
      </div>

      <p>

    </div>
